In [2]:
import numpy as np
import pandas as pd

In [3]:
path = "kaggle/games.csv"

In [4]:
chess = pd.read_csv(path)

In [41]:
chess.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

## It's well-known that in the game of chess, white has a slight first-mover advantage against black. Can you measure this effect in this dataset? Use the winner column to create a pandas Series showing how often white wins, how often black wins, and how often the result is a tie, as a ratio of total games played.

In [11]:
chess.groupby("winner")['id'].count() / len(chess)

winner
black    0.454033
draw     0.047363
white    0.498604
Name: id, dtype: float64

##  The opening_name field of the chess_games dataset provides interesting data on what the most commonly used chess openings are. However, it gives a bit too much detail, including information on the variation used for the most common opening types. For example, rather than giving Queen's Pawn Game, the dataset often includes Queen's Pawn Game: Zukertort Variation.

In [37]:
opening = chess.opening_name.map(lambda n: n.split(":")[0].split("|")[0].split("#")[0].strip())

In [39]:
opening.value_counts().head()

Sicilian Defense     2632
French Defense       1412
Queen's Pawn Game    1233
Italian Game          981
King's Pawn Game      917
Name: opening_name, dtype: int64

## In this dataset various players play variably number of games. Group the games by {white_id, victory_status} and count how many times each white player ended the game in mate , draw, resign, etcetera.

In [66]:
pd.crosstab(index=chess["white_id"],columns=chess["victory_status"]).head()

victory_status       draw  mate  outoftime  resign
white_id
--jim--                 0     1          0       0
-l-_jedi_knight_-l-     0     1          1       4
-mati-                  0     0          0       1
-pavel-                 0     1          0       0
1063314                 0     0          0       1

## There are a lot of players in the dataset who have only played one or a small handful of games. Create a DataFrame like the one in the previous exercise, but only include users who are in the top 20 users by number of games played.

In [63]:
players = pd.crosstab(index=chess["white_id"],columns=chess["victory_status"],margins=True)

In [67]:
players[players["All"] > 20]

victory_status      draw  mate  outoftime  resign    All
white_id
1240100948             3     7          0      28     38
a_p_t_e_m_u_u          5    27          0      17     49
aaaaaaaddd             1     0          1      24     26
adatene                0     5          4      14     23
amateur_pawn_star      0     4          0      18     22
anakgreget             0    22          6      10     38
anastasia2009          0    13          1      11     25
apis11                 0     6          0      17     23
aridaybordon           1     3          3      16     23
artem555               4    10          0      16     30
axelpro446             1     3          2      16     22
bear789                1     8          1      14     24
blazingdragon          1     6          1      13     21
bleda                  4    21          2      21     48
bobc                   4     1          3      15     23
bosspotato             2     3          2      18     25
brandonbos             0     7          0      16     23
brorael357             0     7          2      13     22
businessman47          1    16          0       6     23
chess-brahs           27     9          3      14     53
chessguy9001           4     6          4       8     22
chesskhovtsev          0     7          4      11     22
chicago_chess          1     3          0      18     22
chita                  0     9          4       9     22
codagirl               0     8          4      10     22
dadt505                0    20          1       3     24
denisgodunov           0     9          2      12     23
derspiegel             2     4          6      11     23
dhernandez101          0    14          1       7     22
die_uhr                2    11          1      10     24
...                  ...   ...        ...     ...    ...
saviter                2     6          6      24     38
sdmabunda              1    10          0      11     22
sergeypolozhiev        2     2          1      16     21
spiteknight            1     9          1      13     24
ssf7                   1    11         22      14     48
stitch_13              2     7          3       9     21
sveenemand             0    10          2      12     24
taranga                1    30         11      30     72
tetley                 2     8          0      17     27
thatguythatistr        0     9          1      11     21
thebadfish             2     4          0      23     29
thegrim123321          2    10          2      20     34
thehutchtouch          1     3          2      16     22
tidalbutt              1     2          0      18     21
todorowk               3     8          4       7     22
toni4127               1     8          1      11     21
tori92                 0     2          6      16     24
totonut                1     2          2      19     24
traced                 1     1          3      19     24
trial-__gre            0    11          3      15     29
unrim                  2     7          2      14     25
viswannabe             0     9          0      13     22
vladimir-kramnik-1     0    10          2      24     36
vovkakuz               2     6          4      23     35
yellow_dragon          0     5          0      19     24
youredeadmeat          0     5          2      14     21
zapala                 3     4          1      17     25
zen3000                4     3          2      15     24
zhaska                 1    10          3       7     21
All                  906  6325       1680   11147  20058

[115 rows x 5 columns]