In [1]:
import numpy as np
import pandas as pd

## Tworzenie ramki danych

In [2]:
ramka1 = pd.DataFrame({"A": np.round(np.random.uniform(0,1,5),2),
                      "B": ["k", None, "k", "m", "k"],
                      "C": [False, True, True,False, False]})

In [3]:
ramka1

      A     B      C
0  0.07     k  False
1  0.96  None   True
2  0.33     k   True
3  0.60     m  False
4  0.08     k  False

In [4]:
pd.set_option("display.notebook_repr_html", True)

In [5]:
ramka1

      A     B      C
0  0.07     k  False
1  0.96  None   True
2  0.33     k   True
3  0.60     m  False
4  0.08     k  False

In [6]:
pd.set_option("display.notebook_repr_html", False)

In [7]:
ramka1

      A     B      C
0  0.07     k  False
1  0.96  None   True
2  0.33     k   True
3  0.60     m  False
4  0.08     k  False

In [8]:
pd.set_option("display.notebook_repr_html", True)

## Podstawowe własności

In [9]:
ramka1.shape

(5, 3)

In [10]:
ramka1.size

15

In [11]:
len(ramka1)

5

In [12]:
import seaborn as sns

In [13]:
flights = sns.load_dataset("flights")

In [14]:
iris = sns.load_dataset("iris")

In [18]:
flights.head(n=7)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121
5  1949      June         135
6  1949      July         148

In [20]:
flights.tail(3)

     year     month  passengers
141  1960   October         461
142  1960  November         390
143  1960  December         432

In [21]:
ramka1.dtypes

A    float64
B     object
C       bool
dtype: object

In [23]:
flights.dtypes

year             int64
month         category
passengers       int64
dtype: object

In [24]:
ramka1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
A    5 non-null float64
B    4 non-null object
C    5 non-null bool
dtypes: bool(1), float64(1), object(1)
memory usage: 165.0+ bytes

## Wybieranie kolumny, typ kolumnowy (Series)

In [25]:
ramka1["A"]

0    0.07
1    0.96
2    0.33
3    0.60
4    0.08
Name: A, dtype: float64

In [26]:
type(ramka1)

pandas.core.frame.DataFrame

In [27]:
type(ramka1["A"])

pandas.core.series.Series

In [28]:
ramka1["A"].values

array([ 0.07,  0.96,  0.33,  0.6 ,  0.08])

In [29]:
type(ramka1["A"].values)

numpy.ndarray

In [30]:
ramka1["A"]

0    0.07
1    0.96
2    0.33
3    0.60
4    0.08
Name: A, dtype: float64

In [31]:
ramka1.get("A")

0    0.07
1    0.96
2    0.33
3    0.60
4    0.08
Name: A, dtype: float64

In [32]:
ramka1.A #columns

0    0.07
1    0.96
2    0.33
3    0.60
4    0.08
Name: A, dtype: float64

In [33]:
ramka1.columns

Index(['A', 'B', 'C'], dtype='object')

In [34]:
pd.DataFrame(ramka1.A)

      A
0  0.07
1  0.96
2  0.33
3  0.60
4  0.08

In [35]:
pd.Series(np.r_[np.nan,0:1:4j])

0         NaN
1    0.000000
2    0.333333
3    0.666667
4    1.000000
dtype: float64

In [38]:
pd.Series(np.r_[np.nan,0:12:4])

0    NaN
1    0.0
2    4.0
3    8.0
dtype: float64

## Zmienne czasowe

In [37]:
pd.Series(pd.date_range("2018-04-01", periods=3))

0   2018-04-01
1   2018-04-02
2   2018-04-03
dtype: datetime64[ns]

In [39]:
pd.Series(pd.date_range("2018-04-01", periods=3, freq="12H"))

0   2018-04-01 00:00:00
1   2018-04-01 12:00:00
2   2018-04-02 00:00:00
dtype: datetime64[ns]

## Typ kategoryczny

In [40]:
flights.month.dtype

category

In [41]:
ramka1

      A     B      C
0  0.07     k  False
1  0.96  None   True
2  0.33     k   True
3  0.60     m  False
4  0.08     k  False

In [44]:
ramka1.dtypes

A    float64
B     object
C       bool
dtype: object

In [46]:
ramka1.B

0       k
1    None
2       k
3       m
4       k
Name: B, dtype: object

In [45]:
pd.Series(ramka1.B, dtype="category")

0      k
1    NaN
2      k
3      m
4      k
Name: B, dtype: category
Categories (2, object): [k, m]

In [47]:
ramka1.B.astype("category")

0      k
1    NaN
2      k
3      m
4      k
Name: B, dtype: category
Categories (2, object): [k, m]

In [48]:
ramka1.B = ramka1.B.astype("category")

In [49]:
ramka1.dtypes

A     float64
B    category
C        bool
dtype: object

In [51]:
pd.Series(pd.Categorical(["a", "b", "c", "a"], categories=["a", "b", "c"]))

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a, b, c]

In [59]:
innaKategoryczna = pd.Series(pd.Categorical(["a", "b", "c", "a"], categories=["a", "b", "c"], ordered=True))

In [53]:
ramka1.A.values

array([ 0.07,  0.96,  0.33,  0.6 ,  0.08])

In [54]:
pd.cut(ramka1.A, np.r_[0, 0.25, 0.4, 0.7,1])

0      (0, 0.25]
1       (0.7, 1]
2    (0.25, 0.4]
3     (0.4, 0.7]
4      (0, 0.25]
Name: A, dtype: category
Categories (4, object): [(0, 0.25] < (0.25, 0.4] < (0.4, 0.7] < (0.7, 1]]

In [55]:
pd.cut(ramka1.A, np.array([0, 0.25, 0.4, 0.7,1]))

0      (0, 0.25]
1       (0.7, 1]
2    (0.25, 0.4]
3     (0.4, 0.7]
4      (0, 0.25]
Name: A, dtype: category
Categories (4, object): [(0, 0.25] < (0.25, 0.4] < (0.4, 0.7] < (0.7, 1]]

In [56]:
pd.cut(ramka1.A, np.r_[0, 0.25, 0.4, 0.7,1], right=False, labels=["etykieta1", "etykieta2", "etykieta3", "etykieta4"])

0    etykieta1
1    etykieta4
2    etykieta2
3    etykieta3
4    etykieta1
Name: A, dtype: category
Categories (4, object): [etykieta1 < etykieta2 < etykieta3 < etykieta4]

In [57]:
pd.cut(ramka1.A, np.r_[0, 0.25, 0.4, 0.7,1], right=False)

0      [0, 0.25)
1       [0.7, 1)
2    [0.25, 0.4)
3     [0.4, 0.7)
4      [0, 0.25)
Name: A, dtype: category
Categories (4, object): [[0, 0.25) < [0.25, 0.4) < [0.4, 0.7) < [0.7, 1)]

In [61]:
innaKategoryczna.cat.codes

0    0
1    1
2    2
3    0
dtype: int8

In [62]:
innaKategoryczna.cat.categories

Index(['a', 'b', 'c'], dtype='object')

In [63]:
innaKategoryczna.cat.categories = ["maly", "sredni", "duzy"]

In [64]:
innaKategoryczna

0      maly
1    sredni
2      duzy
3      maly
dtype: category
Categories (3, object): [maly < sredni < duzy]

In [65]:
innaKategoryczna[0] = "sredni"

In [66]:
innaKategoryczna

0    sredni
1    sredni
2      duzy
3      maly
dtype: category
Categories (3, object): [maly < sredni < duzy]

In [67]:
innaKategoryczna[0] = "ogromny"

ValueError: Cannot setitem on a Categorical with a new category, set the categories first

In [68]:
innaKategoryczna = innaKategoryczna.cat.add_categories("ogromny")

In [69]:
innaKategoryczna

0    sredni
1    sredni
2      duzy
3      maly
dtype: category
Categories (4, object): [maly < sredni < duzy < ogromny]

In [70]:
innaKategoryczna[0] = "ogromny"

In [71]:
innaKategoryczna

0    ogromny
1     sredni
2       duzy
3       maly
dtype: category
Categories (4, object): [maly < sredni < duzy < ogromny]

In [73]:
innaKategoryczna[innaKategoryczna == "duzy"] = "ogromny"

In [74]:
innaKategoryczna

0    ogromny
1     sredni
2    ogromny
3       maly
dtype: category
Categories (4, object): [maly < sredni < duzy < ogromny]

In [75]:
innaKategoryczna = innaKategoryczna.cat.reorder_categories(["maly","sredni","ogromny","duzy"], ordered=True)

In [76]:
innaKategoryczna

0    ogromny
1     sredni
2    ogromny
3       maly
dtype: category
Categories (4, object): [maly < sredni < ogromny < duzy]

In [77]:
innaKategoryczna.sort_values()

3       maly
1     sredni
0    ogromny
2    ogromny
dtype: category
Categories (4, object): [maly < sredni < ogromny < duzy]

## Indeksy

### Wybieranie indeksu, tworzenie indeksu

In [78]:
ramka1.index

RangeIndex(start=0, stop=5, step=1)

In [79]:
ramka1.columns

Index(['A', 'B', 'C'], dtype='object')

In [80]:
ramka1.A.index

RangeIndex(start=0, stop=5, step=1)

In [81]:
ramka1.columns = ["a", "b", "c"]

In [82]:
ramka1

      a    b      c
0  0.07    k  False
1  0.96  NaN   True
2  0.33    k   True
3  0.60    m  False
4  0.08    k  False

In [83]:
ramka2 = ramka1.set_index(np.linspace(0,1,5))

In [84]:
ramka2

         a    b      c
0.00  0.07    k  False
0.25  0.96  NaN   True
0.50  0.33    k   True
0.75  0.60    m  False
1.00  0.08    k  False

In [85]:
ramka2.index

Float64Index([0.0, 0.25, 0.5, 0.75, 1.0], dtype='float64')

In [86]:
ramka2.index = np.r_[7:12]

In [87]:
ramka2

       a    b      c
7   0.07    k  False
8   0.96  NaN   True
9   0.33    k   True
10  0.60    m  False
11  0.08    k  False

In [89]:
ramka1.index.name="Wiersze"
ramka1.columns.name="Kolumny"

In [90]:
ramka1

Kolumny     a    b      c
Wiersze
0        0.07    k  False
1        0.96  NaN   True
2        0.33    k   True
3        0.60    m  False
4        0.08    k  False

In [93]:
ramka2 = pd.DataFrame({"A": np.round(np.random.uniform(0,1,6),2)})
ramka2

      A
0  0.68
1  0.90
2  0.94
3  0.20
4  0.88
5  0.15

In [94]:
ramka2.index = pd.MultiIndex(levels= [["x","y","z"], [1,2,3,4]],
                            labels=[[0,0,0,1,1,2], [0,1,3,0,1,2]],
                            names=["i1","i2"])

In [95]:
ramka2

          A
i1 i2
x  1   0.68
   2   0.90
   4   0.94
y  1   0.20
   2   0.88
z  3   0.15

### Wybór wierszy po indeksie i miejscu porządkowym

In [96]:
b = pd.Series(np.round(np.random.uniform(0,1,10),2))
i = np.r_[0:10]
np.random.shuffle(i)
b.index = i
b

2    0.55
6    0.34
4    0.62
7    0.16
8    0.12
3    1.00
1    0.06
5    0.32
0    0.49
9    0.77
dtype: float64

In [97]:
c = b.copy()
c.index=["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
c

a    0.55
b    0.34
c    0.62
d    0.16
e    0.12
f    1.00
g    0.06
h    0.32
i    0.49
j    0.77
dtype: float64

In [98]:
b[0:1]

2    0.55
dtype: float64

In [99]:
b[0:3]

2    0.55
6    0.34
4    0.62
dtype: float64

In [100]:
b[b.values > 0.7]

3    1.00
9    0.77
dtype: float64

In [101]:
b[b>0.7]

3    1.00
9    0.77
dtype: float64

In [102]:
b[0]

0.48999999999999999

In [103]:
c[0]

0.55000000000000004

In [104]:
b[ [0,1] ]

0    0.49
1    0.06
dtype: float64

In [105]:
c[ [0,1] ]

a    0.55
b    0.34
dtype: float64

In [106]:
b.iloc[0]

0.55000000000000004

In [107]:
c.iloc[0]

0.55000000000000004

In [108]:
b.loc[0]

0.48999999999999999

In [109]:
c.loc[0]

TypeError: cannot do label indexing on <class 'pandas.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [111]:
b

2    0.55
6    0.34
4    0.62
7    0.16
8    0.12
3    1.00
1    0.06
5    0.32
0    0.49
9    0.77
dtype: float64

In [110]:
b.loc[6:0]

6    0.34
4    0.62
7    0.16
8    0.12
3    1.00
1    0.06
5    0.32
0    0.49
dtype: float64

In [112]:
b.loc[0:6]

Series([], dtype: float64)

In [113]:
c.loc["a":"c"]

a    0.55
b    0.34
c    0.62
dtype: float64

In [114]:
d = c.copy()
d

a    0.55
b    0.34
c    0.62
d    0.16
e    0.12
f    1.00
g    0.06
h    0.32
i    0.49
j    0.77
dtype: float64

In [115]:
d.index = pd.date_range("2018-04-01", periods=10)

In [116]:
d

2018-04-01    0.55
2018-04-02    0.34
2018-04-03    0.62
2018-04-04    0.16
2018-04-05    0.12
2018-04-06    1.00
2018-04-07    0.06
2018-04-08    0.32
2018-04-09    0.49
2018-04-10    0.77
Freq: D, dtype: float64

In [117]:
d.loc["2018-04-05"]

0.12

In [118]:
d.loc["2018-04-05":"2018-04-08"]

2018-04-05    0.12
2018-04-06    1.00
2018-04-07    0.06
2018-04-08    0.32
Freq: D, dtype: float64

In [119]:
ramka2

          A
i1 i2
x  1   0.68
   2   0.90
   4   0.94
y  1   0.20
   2   0.88
z  3   0.15

In [125]:
ramka2.A.loc["x"]

i2
1    0.68
2    0.90
4    0.94
Name: A, dtype: float64

In [122]:
ramka2["A"].loc["x",1]

0.68000000000000005

In [131]:
ramka2["A"].loc["x",4]

0.93999999999999995

In [129]:
ramkaX = ramka2.A.loc["x"]
ramkaX.iloc[-1]

0.93999999999999995

In [138]:
ramka2.A.loc["x"].iloc[-1]

0.93999999999999995

In [133]:
ramka2

          A
i1 i2
x  1   0.68
   2   0.90
   4   0.94
y  1   0.20
   2   0.88
z  3   0.15

In [132]:
ramka2.A.loc[:,1]

i1
x    0.68
y    0.20
Name: A, dtype: float64

In [136]:
ramka2.A.loc[["x","z"]]

i1  i2
x   1     0.68
    2     0.90
    4     0.94
z   3     0.15
Name: A, dtype: float64

In [137]:
ramka2.A.loc[["x","z"],:]

i1  i2
x   1     0.68
    2     0.90
    4     0.94
z   3     0.15
Name: A, dtype: float64

In [135]:
ramka2.A.loc[["x","z"],[1,3]]

i1  i2
x   1     0.68
z   3     0.15
Name: A, dtype: float64

## Wybór losowych wierszy

In [142]:
ramka2.sample(n=2)

          A
i1 i2
x  1   0.68
y  1   0.20

In [144]:
ramka2.sample(frac=0.6)

          A
i1 i2
y  2   0.88
x  2   0.90
y  1   0.20
x  1   0.68

## Dodawanie/usuwanie kolumn

In [147]:
ramka2["B"] = 2*ramka2.A+1
ramka2

          A     B
i1 i2
x  1   0.68  2.36
   2   0.90  2.80
   4   0.94  2.88
y  1   0.20  1.40
   2   0.88  2.76
z  3   0.15  1.30

In [152]:
ramka2 = ramka2.drop("B", axis=1)

In [153]:
ramka2

          A
i1 i2
x  1   0.68
   2   0.90
   4   0.94
y  1   0.20
   2   0.88
z  3   0.15

In [154]:
ramka1

Kolumny     a    b      c
Wiersze
0        0.07    k  False
1        0.96  NaN   True
2        0.33    k   True
3        0.60    m  False
4        0.08    k  False

In [155]:
ramka1.loc[8] = [0.77, "m", True]
ramka1

Kolumny     a    b      c
Wiersze
0        0.07    k  False
1        0.96  NaN   True
2        0.33    k   True
3        0.60    m  False
4        0.08    k  False
8        0.77    m   True

In [160]:
ramka1 = ramka1.drop(8) # , axis=0
ramka1

Kolumny     a    b      c
Wiersze
0        0.07    k  False
1        0.96  NaN   True
2        0.33    k   True
3        0.60    m  False
4        0.08    k  False

## Zwektoryzowane operacje na kolumnie

In [161]:
2*ramka1.a

Wiersze
0    0.14
1    1.92
2    0.66
3    1.20
4    0.16
Name: a, dtype: float64

In [162]:
np.exp(ramka1.a)

Wiersze
0    1.072508
1    2.611696
2    1.390968
3    1.822119
4    1.083287
Name: a, dtype: float64

## Statystyki, przekształcenia na ramce danych

In [163]:
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [164]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 6.8 KB

In [165]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [166]:
tips.describe(include="all")

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [167]:
tips.sex.describe()

count      244
unique       2
top       Male
freq       157
Name: sex, dtype: object

In [168]:
tips.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [174]:
tips["size"].mean()

2.569672131147541

In [175]:
pd.pivot_table(tips[["smoker", "total_bill", "tip"]], index = ["smoker"], aggfunc="mean")

             tip  total_bill
smoker
Yes     3.008710   20.756344
No      2.991854   19.188278

In [179]:
list(flights.groupby("year"))

[(1949,     year      month  passengers
  0   1949    January         112
  1   1949   February         118
  2   1949      March         132
  3   1949      April         129
  4   1949        May         121
  5   1949       June         135
  6   1949       July         148
  7   1949     August         148
  8   1949  September         136
  9   1949    October         119
  10  1949   November         104
  11  1949   December         118), (1950,     year      month  passengers
  12  1950    January         115
  13  1950   February         126
  14  1950      March         141
  15  1950      April         135
  16  1950        May         125
  17  1950       June         149
  18  1950       July         170
  19  1950     August         170
  20  1950  September         158
  21  1950    October         133
  22  1950   November         114
  23  1950   December         140), (1951,     year      month  passengers
  24  1951    January         145
  25  1951   February         150
  26  1951      March         178
  27  1951      April         163
  28  1951        May         172
  29  1951       June         178
  30  1951       July         199
  31  1951     August         199
  32  1951  September         184
  33  1951    October         162
  34  1951   November         146
  35  1951   December         166), (1952,     year      month  passengers
  36  1952    January         171
  37  1952   February         180
  38  1952      March         193
  39  1952      April         181
  40  1952        May         183
  41  1952       June         218
  42  1952       July         230
  43  1952     August         242
  44  1952  September         209
  45  1952    October         191
  46  1952   November         172
  47  1952   December         194), (1953,     year      month  passengers
  48  1953    January         196
  49  1953   February         196
  50  1953      March         236
  51  1953      April         235
  52  1953        May         229
  53  1953       June         243
  54  1953       July         264
  55  1953     August         272
  56  1953  September         237
  57  1953    October         211
  58  1953   November         180
  59  1953   December         201), (1954,     year      month  passengers
  60  1954    January         204
  61  1954   February         188
  62  1954      March         235
  63  1954      April         227
  64  1954        May         234
  65  1954       June         264
  66  1954       July         302
  67  1954     August         293
  68  1954  September         259
  69  1954    October         229
  70  1954   November         203
  71  1954   December         229), (1955,     year      month  passengers
  72  1955    January         242
  73  1955   February         233
  74  1955      March         267
  75  1955      April         269
  76  1955        May         270
  77  1955       June         315
  78  1955       July         364
  79  1955     August         347
  80  1955  September         312
  81  1955    October         274
  82  1955   November         237
  83  1955   December         278), (1956,     year      month  passengers
  84  1956    January         284
  85  1956   February         277
  86  1956      March         317
  87  1956      April         313
  88  1956        May         318
  89  1956       June         374
  90  1956       July         413
  91  1956     August         405
  92  1956  September         355
  93  1956    October         306
  94  1956   November         271
  95  1956   December         306), (1957,      year      month  passengers
  96   1957    January         315
  97   1957   February         301
  98   1957      March         356
  99   1957      April         348
  100  1957        May         355
  101  1957       June         422
  102  1957       July         465
  103  1957     August         467
  104  1957  September         404
  105  1957    October         347
  106  1957   November         305
  107  1957   December         336), (1958,      year      month  passengers
  108  1958    January         340
  109  1958   February         318
  110  1958      March         362
  111  1958      April         348
  112  1958        May         363
  113  1958       June         435
  114  1958       July         491
  115  1958     August         505
  116  1958  September         404
  117  1958    October         359
  118  1958   November         310
  119  1958   December         337), (1959,      year      month  passengers
  120  1959    January         360
  121  1959   February         342
  122  1959      March         406
  123  1959      April         396
  124  1959        May         420
  125  1959       June         472
  126  1959       July         548
  127  1959     August         559
  128  1959  September         463
  129  1959    October         407
  130  1959   November         362
  131  1959   December         405), (1960,      year      month  passengers
  132  1960    January         417
  133  1960   February         391
  134  1960      March         419
  135  1960      April         461
  136  1960        May         472
  137  1960       June         535
  138  1960       July         622
  139  1960     August         606
  140  1960  September         508
  141  1960    October         461
  142  1960   November         390
  143  1960   December         432)]

In [181]:
flights.groupby("year").mean().head()

      passengers
year
1949  126.666667
1950  139.666667
1951  170.166667
1952  197.000000
1953  225.000000

In [182]:
tips.groupby(["smoker","sex"]).mean()

               total_bill       tip      size
smoker sex
Yes    Male     22.284500  3.051167  2.500000
       Female   17.977879  2.931515  2.242424
No     Male     19.791237  3.113402  2.711340
       Female   18.105185  2.773519  2.592593

In [183]:
tips.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [184]:
pd.crosstab(tips.smoker, tips.sex)

sex     Male  Female
smoker
Yes       60      33
No        97      54

In [185]:
pd.crosstab(tips.smoker, [tips.sex, tips.day])

sex    Male             Female
day    Thur Fri Sat Sun   Thur Fri Sat Sun
smoker
Yes      10   8  27  15      7   7  15   4
No       20   2  32  43     25   2  13  14

In [189]:
pd.crosstab(tips.smoker, [tips.sex, tips.day], values=tips.total_bill, aggfunc="mean")

sex        Male                                    Female             \
day        Thur      Fri        Sat        Sun       Thur        Fri
smoker
Yes     19.1710  20.4525  21.837778  26.141333  19.218571  12.654286
No      18.4865  17.4750  19.929063  20.403256  16.014400  19.365000

sex
day           Sat        Sun
smoker
Yes     20.266667  16.540000
No      19.003846  20.824286

In [186]:
tips.sort_values(by="tip")

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
236       12.60   1.00    Male    Yes   Sat  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
0         16.99   1.01  Female     No   Sun  Dinner     2
215       12.90   1.10  Female    Yes   Sat  Dinner     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
235       10.07   1.25    Male     No   Sat  Dinner     2
75        10.51   1.25    Male     No   Sat  Dinner     2
135        8.51   1.25  Female     No  Thur   Lunch     2
43         9.68   1.32    Male     No   Sun  Dinner     2
146       18.64   1.36  Female     No  Thur   Lunch     3
218        7.74   1.44    Male    Yes   Sat  Dinner     2
195        7.56   1.44    Male     No  Thur   Lunch     2
30         9.55   1.45    Male     No   Sat  Dinner     2
233       10.77   1.47    Male     No   Sat  Dinner     2
126        8.52   1.48    Male     No  Thur   Lunch     2
190       15.69   1.50    Male    Yes   Sun  Dinner     2
57        26.41   1.50  Female     No   Sat  Dinner     2
97        12.03   1.50    Male    Yes   Fri  Dinner     2
99        12.46   1.50    Male     No   Fri  Dinner     2
117       10.65   1.50  Female     No  Thur   Lunch     2
132       11.17   1.50  Female     No  Thur   Lunch     2
217       11.59   1.50    Male    Yes   Sat  Dinner     2
145        8.35   1.50  Female     No  Thur   Lunch     2
130       19.08   1.50    Male     No  Thur   Lunch     2
53         9.94   1.56    Male     No   Sun  Dinner     2
12        15.42   1.57    Male     No   Sun  Dinner     2
224       13.42   1.58    Male    Yes   Fri   Lunch     2
168       10.59   1.61  Female    Yes   Sat  Dinner     2
..          ...    ...     ...    ...   ...     ...   ...
5         25.29   4.71    Male     No   Sun  Dinner     4
95        40.17   4.73    Male    Yes   Fri  Dinner     4
46        22.23   5.00    Male     No   Sun  Dinner     2
39        31.27   5.00    Male     No   Sat  Dinner     3
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
156       48.17   5.00    Male     No   Sun  Dinner     6
185       20.69   5.00    Male     No   Sun  Dinner     5
11        35.26   5.00  Female     No   Sun  Dinner     4
83        32.68   5.00    Male    Yes  Thur   Lunch     2
197       43.11   5.00  Female    Yes  Thur   Lunch     4
73        25.28   5.00  Female    Yes   Sat  Dinner     2
116       29.93   5.07    Male     No   Sun  Dinner     4
155       29.85   5.14  Female     No   Sun  Dinner     5
172        7.25   5.15    Male    Yes   Sun  Dinner     2
211       25.89   5.16    Male    Yes   Sat  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
52        34.81   5.20  Female     No   Sun  Dinner     4
44        30.40   5.60    Male     No   Sun  Dinner     4
181       23.33   5.65    Male    Yes   Sun  Dinner     2
88        24.71   5.85    Male     No  Thur   Lunch     2
239       29.03   5.92    Male     No   Sat  Dinner     3
47        32.40   6.00    Male     No   Sun  Dinner     4
183       23.17   6.50    Male    Yes   Sun  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
141       34.30   6.70    Male     No  Thur   Lunch     6
59        48.27   6.73    Male     No   Sat  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [192]:
tips.day.head()

0    Sun
1    Sun
2    Sun
3    Sun
4    Sun
Name: day, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun]

In [190]:
tips.sort_values(by=["size","day"], ascending=[True, False])

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
111        7.25  1.00  Female     No   Sat  Dinner     1
222        8.58  1.92    Male    Yes   Fri   Lunch     1
82        10.07  1.83  Female     No  Thur   Lunch     1
0         16.99  1.01  Female     No   Sun  Dinner     2
3         23.68  3.31    Male     No   Sun  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
12        15.42  1.57    Male     No   Sun  Dinner     2
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
41        17.46  2.54    Male     No   Sun  Dinner     2
42        13.94  3.06    Male     No   Sun  Dinner     2
43         9.68  1.32    Male     No   Sun  Dinner     2
45        18.29  3.00    Male     No   Sun  Dinner     2
46        22.23  5.00    Male     No   Sun  Dinner     2
49        18.04  3.00    Male     No   Sun  Dinner     2
50        12.54  2.50    Male     No   Sun  Dinner     2
51        10.29  2.60  Female     No   Sun  Dinner     2
53         9.94  1.56    Male     No   Sun  Dinner     2
55        19.49  3.51    Male     No   Sun  Dinner     2
113       23.95  2.55    Male     No   Sun  Dinner     2
115       17.31  3.50  Female     No   Sun  Dinner     2
150       14.07  2.50    Male     No   Sun  Dinner     2
151       13.13  2.00    Male     No   Sun  Dinner     2
158       13.39  2.61  Female     No   Sun  Dinner     2
161       12.66  2.50    Male     No   Sun  Dinner     2
163       13.81  2.00    Male     No   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
180       34.65  3.68    Male    Yes   Sun  Dinner     4
183       23.17  6.50    Male    Yes   Sun  Dinner     4
23        39.42  7.58    Male     No   Sat  Dinner     4
25        17.81  2.34    Male     No   Sat  Dinner     4
31        18.35  2.50    Male     No   Sat  Dinner     4
33        20.69  2.45  Female     No   Sat  Dinner     4
56        38.01  3.00    Male    Yes   Sat  Dinner     4
59        48.27  6.73    Male     No   Sat  Dinner     4
63        18.29  3.76    Male    Yes   Sat  Dinner     4
207       38.73  3.00    Male    Yes   Sat  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
219       30.14  3.09  Female    Yes   Sat  Dinner     4
227       20.45  3.00    Male     No   Sat  Dinner     4
230       24.01  2.00    Male    Yes   Sat  Dinner     4
95        40.17  4.73    Male    Yes   Fri  Dinner     4
77        27.20  4.00    Male     No  Thur   Lunch     4
85        34.83  5.17  Female     No  Thur   Lunch     4
119       24.08  2.92  Female     No  Thur   Lunch     4
197       43.11  5.00  Female    Yes  Thur   Lunch     4
204       20.53  4.00    Male    Yes  Thur   Lunch     4
155       29.85  5.14  Female     No   Sun  Dinner     5
185       20.69  5.00    Male     No   Sun  Dinner     5
187       30.46  2.00    Male    Yes   Sun  Dinner     5
216       28.15  3.00    Male    Yes   Sat  Dinner     5
142       41.19  5.00    Male     No  Thur   Lunch     5
156       48.17  5.00    Male     No   Sun  Dinner     6
125       29.80  4.20  Female     No  Thur   Lunch     6
141       34.30  6.70    Male     No  Thur   Lunch     6
143       27.05  5.00  Female     No  Thur   Lunch     6

[244 rows x 7 columns]

In [193]:
tips.sort_values(by=["day","size"], ascending=[False, True])

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
3         23.68  3.31    Male     No   Sun  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
12        15.42  1.57    Male     No   Sun  Dinner     2
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
41        17.46  2.54    Male     No   Sun  Dinner     2
42        13.94  3.06    Male     No   Sun  Dinner     2
43         9.68  1.32    Male     No   Sun  Dinner     2
45        18.29  3.00    Male     No   Sun  Dinner     2
46        22.23  5.00    Male     No   Sun  Dinner     2
49        18.04  3.00    Male     No   Sun  Dinner     2
50        12.54  2.50    Male     No   Sun  Dinner     2
51        10.29  2.60  Female     No   Sun  Dinner     2
53         9.94  1.56    Male     No   Sun  Dinner     2
55        19.49  3.51    Male     No   Sun  Dinner     2
113       23.95  2.55    Male     No   Sun  Dinner     2
115       17.31  3.50  Female     No   Sun  Dinner     2
150       14.07  2.50    Male     No   Sun  Dinner     2
151       13.13  2.00    Male     No   Sun  Dinner     2
158       13.39  2.61  Female     No   Sun  Dinner     2
161       12.66  2.50    Male     No   Sun  Dinner     2
163       13.81  2.00    Male     No   Sun  Dinner     2
164       17.51  3.00  Female    Yes   Sun  Dinner     2
166       20.76  2.24    Male     No   Sun  Dinner     2
172        7.25  5.15    Male    Yes   Sun  Dinner     2
173       31.85  3.18    Male    Yes   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
144       16.43  2.30  Female     No  Thur   Lunch     2
145        8.35  1.50  Female     No  Thur   Lunch     2
147       11.87  1.63  Female     No  Thur   Lunch     2
148        9.78  1.73    Male     No  Thur   Lunch     2
149        7.51  2.00    Male     No  Thur   Lunch     2
191       19.81  4.19  Female    Yes  Thur   Lunch     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
193       15.48  2.02    Male    Yes  Thur   Lunch     2
194       16.58  4.00    Male    Yes  Thur   Lunch     2
195        7.56  1.44    Male     No  Thur   Lunch     2
196       10.34  2.00    Male    Yes  Thur   Lunch     2
198       13.00  2.00  Female    Yes  Thur   Lunch     2
199       13.51  2.00    Male    Yes  Thur   Lunch     2
201       12.74  2.01  Female    Yes  Thur   Lunch     2
202       13.00  2.00  Female    Yes  Thur   Lunch     2
203       16.40  2.50  Female    Yes  Thur   Lunch     2
243       18.78  3.00  Female     No  Thur  Dinner     2
129       22.82  2.18    Male     No  Thur   Lunch     3
146       18.64  1.36  Female     No  Thur   Lunch     3
200       18.71  4.00    Male    Yes  Thur   Lunch     3
205       16.47  3.23  Female    Yes  Thur   Lunch     3
77        27.20  4.00    Male     No  Thur   Lunch     4
85        34.83  5.17  Female     No  Thur   Lunch     4
119       24.08  2.92  Female     No  Thur   Lunch     4
197       43.11  5.00  Female    Yes  Thur   Lunch     4
204       20.53  4.00    Male    Yes  Thur   Lunch     4
142       41.19  5.00    Male     No  Thur   Lunch     5
125       29.80  4.20  Female     No  Thur   Lunch     6
141       34.30  6.70    Male     No  Thur   Lunch     6
143       27.05  5.00  Female     No  Thur   Lunch     6

[244 rows x 7 columns]

In [194]:
tips.T

,0,1,2,3,4,5,6,7,8,9,...,234,235,236,237,238,239,240,241,242,243
total_bill,16.99,10.34,21.01,23.68,24.59,25.29,8.77,26.88,15.04,14.78,...,15.53,10.07,12.6,32.83,35.83,29.03,27.18,22.67,17.82,18.78
tip,1.01,1.66,3.5,3.31,3.61,4.71,2,3.12,1.96,3.23,...,3,1.25,1,1.17,4.67,5.92,2,2,1.75,3
sex,Female,Male,Male,Male,Female,Male,Male,Male,Male,Male,...,Male,Male,Male,Male,Female,Male,Female,Male,Male,Female
smoker,No,No,No,No,No,No,No,No,No,No,...,Yes,No,Yes,Yes,No,No,Yes,Yes,No,No
day,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,...,Sat,Sat,Sat,Sat,Sat,Sat,Sat,Sat,Sat,Thur
time,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,...,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner
size,2,3,3,2,4,4,2,4,2,2,...,2,2,2,2,3,3,2,2,2,2

In [196]:
tips.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [197]:
tips.stack()

0    total_bill     16.99
     tip             1.01
     sex           Female
     smoker            No
     day              Sun
     time          Dinner
     size               2
1    total_bill     10.34
     tip             1.66
     sex             Male
     smoker            No
     day              Sun
     time          Dinner
     size               3
2    total_bill     21.01
     tip              3.5
     sex             Male
     smoker            No
     day              Sun
     time          Dinner
     size               3
3    total_bill     23.68
     tip             3.31
     sex             Male
     smoker            No
     day              Sun
     time          Dinner
     size               2
4    total_bill     24.59
     tip             3.61
                    ...
239  time          Dinner
     size               3
240  total_bill     27.18
     tip                2
     sex           Female
     smoker           Yes
     day              Sat
     time          Dinner
     size               2
241  total_bill     22.67
     tip                2
     sex             Male
     smoker           Yes
     day              Sat
     time          Dinner
     size               2
242  total_bill     17.82
     tip             1.75
     sex             Male
     smoker            No
     day              Sat
     time          Dinner
     size               2
243  total_bill     18.78
     tip                3
     sex           Female
     smoker            No
     day             Thur
     time          Dinner
     size               2
dtype: object

In [198]:
tips.stack().unstack()

    total_bill   tip     sex smoker   day    time size
0        16.99  1.01  Female     No   Sun  Dinner    2
1        10.34  1.66    Male     No   Sun  Dinner    3
2        21.01   3.5    Male     No   Sun  Dinner    3
3        23.68  3.31    Male     No   Sun  Dinner    2
4        24.59  3.61  Female     No   Sun  Dinner    4
5        25.29  4.71    Male     No   Sun  Dinner    4
6         8.77     2    Male     No   Sun  Dinner    2
7        26.88  3.12    Male     No   Sun  Dinner    4
8        15.04  1.96    Male     No   Sun  Dinner    2
9        14.78  3.23    Male     No   Sun  Dinner    2
10       10.27  1.71    Male     No   Sun  Dinner    2
11       35.26     5  Female     No   Sun  Dinner    4
12       15.42  1.57    Male     No   Sun  Dinner    2
13       18.43     3    Male     No   Sun  Dinner    4
14       14.83  3.02  Female     No   Sun  Dinner    2
15       21.58  3.92    Male     No   Sun  Dinner    2
16       10.33  1.67  Female     No   Sun  Dinner    3
17       16.29  3.71    Male     No   Sun  Dinner    3
18       16.97   3.5  Female     No   Sun  Dinner    3
19       20.65  3.35    Male     No   Sat  Dinner    3
20       17.92  4.08    Male     No   Sat  Dinner    2
21       20.29  2.75  Female     No   Sat  Dinner    2
22       15.77  2.23  Female     No   Sat  Dinner    2
23       39.42  7.58    Male     No   Sat  Dinner    4
24       19.82  3.18    Male     No   Sat  Dinner    2
25       17.81  2.34    Male     No   Sat  Dinner    4
26       13.37     2    Male     No   Sat  Dinner    2
27       12.69     2    Male     No   Sat  Dinner    2
28        21.7   4.3    Male     No   Sat  Dinner    2
29       19.65     3  Female     No   Sat  Dinner    2
..         ...   ...     ...    ...   ...     ...  ...
214      28.17   6.5  Female    Yes   Sat  Dinner    3
215       12.9   1.1  Female    Yes   Sat  Dinner    2
216      28.15     3    Male    Yes   Sat  Dinner    5
217      11.59   1.5    Male    Yes   Sat  Dinner    2
218       7.74  1.44    Male    Yes   Sat  Dinner    2
219      30.14  3.09  Female    Yes   Sat  Dinner    4
220      12.16   2.2    Male    Yes   Fri   Lunch    2
221      13.42  3.48  Female    Yes   Fri   Lunch    2
222       8.58  1.92    Male    Yes   Fri   Lunch    1
223      15.98     3  Female     No   Fri   Lunch    3
224      13.42  1.58    Male    Yes   Fri   Lunch    2
225      16.27   2.5  Female    Yes   Fri   Lunch    2
226      10.09     2  Female    Yes   Fri   Lunch    2
227      20.45     3    Male     No   Sat  Dinner    4
228      13.28  2.72    Male     No   Sat  Dinner    2
229      22.12  2.88  Female    Yes   Sat  Dinner    2
230      24.01     2    Male    Yes   Sat  Dinner    4
231      15.69     3    Male    Yes   Sat  Dinner    3
232      11.61  3.39    Male     No   Sat  Dinner    2
233      10.77  1.47    Male     No   Sat  Dinner    2
234      15.53     3    Male    Yes   Sat  Dinner    2
235      10.07  1.25    Male     No   Sat  Dinner    2
236       12.6     1    Male    Yes   Sat  Dinner    2
237      32.83  1.17    Male    Yes   Sat  Dinner    2
238      35.83  4.67  Female     No   Sat  Dinner    3
239      29.03  5.92    Male     No   Sat  Dinner    3
240      27.18     2  Female    Yes   Sat  Dinner    2
241      22.67     2    Male    Yes   Sat  Dinner    2
242      17.82  1.75    Male     No   Sat  Dinner    2
243      18.78     3  Female     No  Thur  Dinner    2

[244 rows x 7 columns]

In [200]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [199]:
flights.pivot("month", "year", "passengers")

year,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960
month,,,,,,,,,,,,
January,112,115,145,171,196,204,242,284,315,340,360,417
February,118,126,150,180,196,188,233,277,301,318,342,391
March,132,141,178,193,236,235,267,317,356,362,406,419
April,129,135,163,181,235,227,269,313,348,348,396,461
May,121,125,172,183,229,234,270,318,355,363,420,472
June,135,149,178,218,243,264,315,374,422,435,472,535
July,148,170,199,230,264,302,364,413,465,491,548,622
August,148,170,199,242,272,293,347,405,467,505,559,606
September,136,158,184,209,237,259,312,355,404,404,463,508
October,119,133,162,191,211,229,274,306,347,359,407,461
November,104,114,146,172,180,203,237,271,305,310,362,390
December,118,140,166,194,201,229,278,306,336,337,405,432

In [202]:
ramka1.b.isnull()

Wiersze
0    False
1     True
2    False
3    False
4    False
Name: b, dtype: bool